*{
    padding: 0;
    margin: 0;
} 

body{
    background-color: #f7f7f7;
}
 
/* ———————————————————————————————— 主体部分 ————————————————————————————————————————— */
.answerPosts_Content{
    width: 1250px;
    /* height: 1000px; */
    margin: 0 auto 120px ;
    position: relative;
    display: flex;
    flex-direction: row;
    font-family: "Microsoft YaHei UI";
    /* border: 1px solid #0f0; */
}

/* —————————————————————— 侧栏Part ——————————————————————————— */
.answerPosts_sideColumn{
    width: 280px;
    position: absolute;
    z-index: 100;
    margin: 40px 28px 0 15px;
}

/* ——————— 最新问贴 ————————— */
.theNewPosts{
    width: 265px;
    height: 295px;
    border-radius: 10px;
    box-shadow: 1px 1px 15px rgba(193, 193, 193,0.8);
}

.theNewPosts ul{
    background: #daf2ee;
    border-radius: 10px;
}

.theNewPosts ul > div{
    background-color: #E8F3F1;
    background-position: 0 5px;
    background-size: 90px 41px;
    background-image: url(../img/answerPosts_new.png);
}

.theNewPosts ul li:hover{
    background: #bce6df;
    cursor: pointer;
}

/* ————————— 等你回答 ——————————— */
.waitingAnswer{
    width: 265px;
    height: 299px;
    border-radius: 10px;
    margin-top: 40px;
    background-color: transparent;
    box-shadow: 1px 1px 15px rgba(193, 193, 193,0.8);
}

.waitingAnswer ul{
    background: #fae5bf;
    border-radius: 10px;
}

.waitingAnswer ul > div{background-color: #f8f1e5;}

#anwerImg{
    width: 94px;
    height: 94px;
    position: absolute;
    left: -20px;
    top: -30px;
}

.waitingAnswer ul li:hover{
    background: #f9d89d;
    cursor: pointer;
}

/* ————————————————— 相同样式Part ——————————————————— */
.answerPosts_sideColumn > div ul{
    list-style-type: none;
}

.answerPosts_sideColumn > div ul li a{
    width: 170px;
    height: 46px;
    line-height: 46px;
    padding-left: 46px;
    display: inline-block;
    color: #333333;
    font-size: 15px;
    text-decoration: none;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

/* .answerPosts_sideColumn > div ul li:nth-child(6) a:hover{border-radius: 0 0 10px 10px;} */

.answerPosts_sideColumn > div ul div{
    width: 265px;
    height: 50px;
    padding: 0;
    position: relative;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 5px rgba(193, 193, 193,0.25);
    border-radius: 10px 10px 0 0;
}

.answerPosts_sideColumn > div ul > div p{
    position: absolute;
    top: 14px;
    left: 103px;
    font-size: 17px;
    font-weight: bold;
    color: #333333;
}

.answerPosts_sideColumn .answerPosts_leaf{
    width: 115px;
    height: 84px;
    position: absolute;
    left: 180px;
    top: -24px;
}

/* —————————————————————— 问贴Part ——————————————————————————— */
.answerPostsBox{
    width: 914px;
    margin-top: 40px;
    position: absolute;
    left: 323px;
    /* border: 1px solid #00f; */
}

/* ———————————————————— 问贴的问题 —————————————————————— */
.answerPostsPart{
    width: 914px;
    min-height: 283px;
    margin-bottom: 50px;
    background: #fff;
    position: relative;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(193, 193, 193,0.25);
    /* border: 1px solid #f00; */
}

.postOutsideBox{
    width: 914px;
    min-height: 283px;
    border-radius: 10px;
    /* border: 1px solid #0f0; */
}

.postsTitle{
    width: 914px;
    /* position: fixed; */
    border-radius: 10px 10px 0 0;
    background: #ffffff;
    box-shadow: 1px 1px 10px rgba(193, 193, 193,0.25);
    z-index: 10;
    /* border: 1px solid #f00; */
}

.postsTitle h3{
    min-height: 30px;
    line-height: 40px;
    padding: 10px 36px;
    overflow-wrap: break-word;  /*要会换行*/
    font-size: 20px;
    color: #333333;
    border-bottom: 1px solid #f7f7f7;
    box-shadow: 1px 1px 10px rgba(193, 193, 193,0.1);
}
/* ———————— 胶带 ———————— */
.postsTitle > img{
    width: 32px;
    height: 60px;
    position: absolute;
    right: 31px;
    top: -32px;
}

/* ————————————— 当页面滑动到看不到问贴时，就出现这个 ————————————— */
#postsHidden{
    position: fixed;
    top: 0;
    border-radius: 0;
    background: #ffffff;
    /* background: rgba(173, 225, 217,0.95); */
    display: none;
    /* border: 1px solid #f00; */
}

/* ——————— 固定位置的胶带 ——————— */
#postsHidden > img{
    top: -5px;
    right: -20px;
    transform: rotate(90deg);
    /* border: 1px solid #f00; */
}

/* ———————————————————— 用户信息Part ———————————————————————— */
.answerPosts_user{
    height: 70px;
    /* padding-top: 50px; */
    /* margin-top: 50px; */
    position: relative;
    /* border: 1px solid #00f; */
}

.answerPostHead{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 12px;
    /* top: 62px; */
    left: 36px;
    border-radius: 50%;
    background: url(../img/homePage_highSchoolStudent_head.png);
    background-size: 100%;
}

.answerPosts_user p{
    position: absolute;
    /* top: 72px; */
    top: 26px;
    left: 102px;
    font-size: 16px;
    color: #333;
    font-weight: 800;
    
}

.answerPosts_user span{
    position: absolute;
    /* top: 95px; */
    top: 45px;
    left: 91px;
    font-size: 12px;
    color: #999;
}

/* ——————— 对标题的描述 ————————— */
.answerPosts_txt{
    line-height: 25px;
    margin: 16px 36px;
    /* text-indent: 2rem; */
    padding-bottom: 33px;
    /* border: 1px solid #0f0; */
}

/* ————————————— 下面的胶带 ——————————————— */
.postOutsideBox > img{
    width: 32px;
    height: 60px;
    position: absolute;
    left: 46px;
    bottom: -28px;
}

/* ———————————————————————————————————————— 回答和评论 ————————————————————————————————————————————————— */
.answerPosts_answerAndComment{
    padding-bottom: 40px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 1px 1px 10px rgba(193, 193, 193,0.3);
    /* border: 1px solid #f00; */
}

/* ————————————————— 输入回答 —————————————————————— */
.answerPosts_answerBox{
    width: 100%;
    height: 390px;
    position: relative;
    border-radius: 10px 10px 0 0;
    background: #fff;
    /* border: 1px solid #f00; */
}

.answerPosts_answerBox p{
    padding: 27px 0 15px 30px;
    font-size: 17px;
    color: #333333;
    border-radius: 10px 10px 0 0;
}

.answerPosts_answerBox textarea{
    width: 840px;
    height: 217px;
    line-height: 25px;
    margin: 0 0 0 30px;
    padding: 15px 12px;
    color: #666666;
    font-size: 15px;
    font-family: "Microsoft YaHei UI";
    border-radius: 5px;
    background: #f7f7f7;
    outline: none;
    border: none;
    resize:none;
}

/* ————————————— 写在JS里会更好 ——————————————— */
.answerPosts_answerBox textarea:focus{
    transition: all ease-in-out .5s;
    box-shadow: 1px 1px 10px rgba(0, 0, 0,0.1),
    -1px -1px 10px rgba(0, 0, 0,0.1);
}

.answerPosts_answerBox button{
    width: 100px;
    height: 30px;
    position: absolute;
    right: 24px;
    top: 330px;
    background: #81CBBF;
    border-radius: 15px;
    border: none;
    outline: none;
    cursor: pointer;
}
/* 
.answerPosts_answerBox button:hover{
    box-shadow: 1px 1px 5px rgba(0, 0, 0,0.25);
} */

/* ————————————————————————— 发帖楼内 ————————————————————————————— */
.answerPosts_list{
    margin: 0 40px 0 30px;
    list-style-type: none;
    background: #fff;
    border-top: 1px solid #e7e7e7;
    /* border: 1px solid #f00; */
}

/* ——————— 每层楼的样式 ——————— */
.answerPosts_list > li{
    width: 840px;
    padding-top: 18px;
    position: relative;
    /* border: 1px solid #0f0; */
}

/* ————— 楼页眉信息 ————— */
.APlist_message{
    height: 50px;
    position: relative;
    /* border: 1px solid #0f0; */
}

.APlist_headIcon{
    width: 37px;
    height: 37px;
    position: absolute;
    top: 3px;
    border-radius: 50%;
    /* background: #81cbbf; */
}

.APlist_headIcon > img{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    outline: none;
}

.APlist_userName{
    position: absolute;
    left: 50px;
    line-height: 25px;
    font-size: 14px;
    color: #6D7A70;
    font-weight: 700;
}

.APlist_userIntro{
    position: absolute;
    left: 50px;
    top: 20px;
    line-height: 22px;
    font-size: 12px;
    color: #999999;
}

.APlist_postTime{
    position: absolute;
    left: 741px;
    top: 2px;
    line-height: 22px;
    font-size: 12px;
    color: #999999;
}

/* ————— 当前属于第几楼 ————— */
.APlist_position{
    position: absolute;
    right: 2px;
    top: 2px;
    line-height: 22px;
    font-size: 12px;
    color: #888787;
}

/* ———— 楼内文本 ———— */
.APlist_content{
    padding: 0 5px;
    margin-top: 10px;
    line-height: 24px;
    color: #333;
    font-size: 15px;
    letter-spacing: 0.2px;
    text-indent: 2rem;
    /* border: 1px solid #00f; */
}

/* ———————————————————————— 回到顶部 ———————————————————————————— */
#returnToTopBtn{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: calc(25% - 60px);
    right: 51px;
    border-radius: 50%;
    background: url(../img/answerPosts_toTop.png) no-repeat;
    background-size: 51px;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0,0.2);
    cursor: pointer;
    transition-duration: 0.3s;
    z-index: 100;
    /* border: 1px solid #f00; */
}

#returnToTopBtn:hover{
    background-image: url(../img/answerPosts_toTopHover.png);
}

