* {
    margin: 0;
    padding: 0;
}
body {
    background: #F7F7F7;
    font-size: 16px;
    font-family: Microsoft YaHei UI;
    font-weight: 400;
    color: #666666;
    line-height: 22px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}

/* ---------------------------------------------articleShow_top------------------------------ */
.articleShow_top {
    width: 100%;
    min-width: 1500px;
    height: 52px;
    background: #FFFFFF;
    box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.22);
}
.articleShow_topMain {
    width: 1210px;
    height: 52px;
    margin: 0 auto;
}
.articleShowSmallAvatar {
    float: left;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-left: 20px;
}
.articleShowTopNav {
    float: left;
    width: 324px;
    height: 100%;
    margin-left: 40px;
}
.articleShowTopNav a {
    display: block;
    float: left;
    width: 64px;
    height: 16px;
    font-size: 16px;
    font-family: Microsoft YaHei UI;
    font-weight: 300;
    color: #333333;
    line-height: 22px;
    padding: 0 22px;
    margin: 19px 0px 0px 0px;
}
.articleShowSearch{
    float: left;
    width: 350px;
    height: 35px;
    background: #F7F7F7;
    border: 1px solid #CACACA;
    border-radius: 23px;
    font-size: 16px;
    font-family: Microsoft YaHei UI;
    font-weight: 400;
    color: #B2B2B2;
    line-height: 22px;
    outline: none;
    border: none;
    margin-left: 75px;
    margin-top: 10px;
    padding-left: 28px;
    background-image: url(../img/articleShowIcon/articleShowSearch.png);
    background-repeat: no-repeat;
    background-size: 21px 20px;
    background-position: 334px 7px;
}
.articleShowPersonal {
    /* overflow: hidden; */
    position: relative;
    float: left;
    margin-left: 205px;
    width: 127px;
    margin-top: 19px;
}
.articleShowPersonalCenter {
    padding-left: 23px;
    padding-right: 21px;
    background: url(../img/articleShowIcon/articleShowPerson.png) no-repeat left/ 20px 18.6px,
                url(../img/articleShowIcon/articleShowPersonalMore.png) no-repeat right/ 13px 7px;
}
.articleShowTopNavMore {
    display: none;
    position: absolute;
    width: 150px;
    height: 163px;
    background: #FFFFFF;
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    top: 40px;
    right: -5px;
    padding-top: 22px;
    z-index: 1;
}
.articleShowTopNavMore a {
    display: block;
    text-align: center;
    width: 150px;
    height: 25px;
    margin-bottom: 5px;
    padding-top: 5px;
}
.asTopNavMoreCurrent {
    background: #F7F7F7;
}


/* --------------------------------------------------articleShow_body------------------------------ */
.articleShow_body {
    width: 1210px;
    height: 1100px;
    margin: 0 auto;
    position: relative;
}

/* -------------------------------------------articleShow_nav------------------------------------ */
.articleShow_nav {
    float: left;
    width: 303px;
    height: 637px;
    margin-top: 16px;
}
.showNewNav,
.showHotNav {
    overflow: hidden;
    width: 303px;
    height: 302px;
    background-image: url(../img/articleShowBG/ASgreen.png);
    background-position: 0 0;
    background-size: 301px 315px;
}
.showHotNav {
    margin-top: 33px;
    background: url(../img/articleShowBG/ASyellow.png);
    background-position: 0 0;
    background-size: 301px 315px;
}
.articleShow_nav h1 {
    margin-top: 39px;
    margin-left: 66px;
    width: 64px;
    height: 17px;
    font-size: 16px;
    font-family: Microsoft YaHei UI;
    font-weight: bold;
    color: #333333;
    line-height: 22px;
}
.showNewNav h1 {
    margin-left: 111px;
}
/*.showNewNavCurrent {*/
/*    background: #BCE6DF; */
/*}*/
/*.showNewNavCurrentHot {*/
/*    background: #F9D89D;*/
/*}*/
.articleShow_nav ul {
    margin-top: 16px;
    height: 230px;
}
.articleShow_nav ul li {
    margin-left: 7px;
    overflow: hidden;
    width: 265px;
    height: 46px;
    cursor: pointer;
}
.showHotNav ul li:hover{
    background: #F9D89D;
}
.showNewNav ul li:hover{
    background: #BCE6DF;
}
.articleShow_nav ul li a {
    display: block;
    width: 170px;
    height: 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    margin-top: 15px;
    margin-left: 43px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}


/* ----------------------------------articleShow_main----------------------- */
.articleShow_main {
    float: left;
    width: 900px;
    min-height: 1100px;
    /* height: 1100px; */
    background: #FFFFFF;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.08);
    border-radius: 10px;   
    margin-left: 7px; 
    margin-top: 38px;
}
.asmainTitle {
    overflow: hidden;
    width: 900px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.08);
    border-radius: 10px 10px 0px 0px;    
}
.articleShow_main h1 {
    /* width: 234px;
    height: 18px; */
    font-size: 18px;
    font-family: Microsoft YaHei UI;
    font-weight: bold;
    color: #333333;
    line-height: 22px;
    margin-left: 29px;
    margin-top: 15px;
}
/* -----------------------------------asmainBody------------------ */
.asmainBody {
    margin: 0 29px;
}

.asmainID {
    height: 62px;
}
.asmainID img {
    float: left;
    margin-top: 10px;
}
.asmainID span {
    display: block;
    float: left;
    margin-left: 15px;
    margin-top: 24px;
}
.asmainID a {
    float: right;
    width: 30px;
    height: 15px;
    font-size: 15px;
    color: #20AB9F;
    margin: 25px 40px 0 0;
    cursor: pointer;
}
.asmainID .asEdit {
    margin: 25px 21px 0 0;
}
.asmainTag {
    height: 25px;
    margin-top: 11px;
    margin-bottom: 25px; 
    color: #20AB9F;
    font-size: 15px;
    /* line-height: 15px; */
}
.asmainTag span {
    float: left;
    font-size: 13px;
    color: #999999;
    margin-top: 6px;
}
.asmainTag div {
    display: none;
    float: left;
    height: 21px;
    background: #AEE1D8;
    border-radius: 18px;    
    margin-left: 5px;
    padding: 7px 10px;
}
.asmainTag .partitionsTag {
    display: block;
   background: rgb(254, 232, 234);
}
.asmainComment {
    height: 60px;
    margin-top: 15px;
    /* background-color: aquamarine; */
    border-bottom: 1px solid #E7E7E7;;
}
.asmainComment span {
    float: left;
    height: 13px;
    margin-top: 24px;
    margin-left: 29px;
}
.asmainComment input {
    outline: none;
    float: left;
    padding-left: 20px;
    width: 380px;
    height: 30px;
    background: #F7F7F7;
    border: 1px solid #E7E7E7;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 9px;
}
.asmainLike,
.asmainCol,
.asamainLikeOver,
.asmainColOver {
    float: right;
    margin-left: 20px;
    color: #81CBBF;
    margin-top: 14px;
    font-size: 14px;
    font-family: Microsoft YaHei UI;
    font-weight: 300;
    cursor: pointer;
}
.asmainLike {
    display: block;
    padding-left: 22px;
    padding-top: 4px;
    margin-right: 33px;
    background: url(../img/articleShowIcon/asUnLike.png) no-repeat left bottom / 19px 19px;
}
.asmainLike:hover {
    background: url(../img/articleShowIcon/asLike.png) no-repeat left bottom / 19px 19px;
}
.asamainLikeOver {
    display: none;
    padding-left: 22px;
    padding-top: 4px;
    margin-right: 33px;
    background: url(../img/articleShowIcon/asLike.png) no-repeat left bottom / 19px 19px;
}
.asmainCol {
    display: block;
    padding-left: 29px;
    padding-top: 5px;
    background: url(../img/articleShowIcon/asUnCollection.png) no-repeat left / 25px 24px;
}
.asmainCol:hover {
    background: url(../img/articleShowIcon/asCollection.png) no-repeat left / 25px 24px;
}
.asmainColOver {
    display: none;
    padding-left: 29px;
    padding-top: 5px;
    background: url(../img/articleShowIcon/asCollection.png) no-repeat left / 25px 24px;
}
.asCommentsContent {
    min-height: 50px;
    border-bottom: 1px solid #E7E7E7;
    margin-top: 3px;
    font-size: 14px;
}
.asCommentsContentOri {
    width: 842px;
    height: 51px;
}
.asLikeComment {
    float: left;
    width: 36px;
    height: 36px;
    margin-left: 16px;
    margin-top: 7px;
    padding-left: 0;
    padding-top: 0;
    margin-right: 0;
}
.asCommentsContentBox{
    min-width: 842px;
    min-height: 36px;
}
.asCommentsContent img {
    float: left;
    width: 36px;
    height: 36px;
    margin-left: 16px;
    margin-top: 7px;
}
.asCommentsContent span {
    float: left;
    margin-top: 11px;
}
.asCommentsContent .asCommentInteract {
    float: right;
}
.asCommentsContentID {
    margin-left: 7px;
    margin-top: 11px;
    font-size: 14px;  
    color: #6D7A70;
    font-weight: bold;
    cursor: pointer;
}
.asCommentsContentID:hover {
    color: #81CBBF;
}
.asCommentConmain {
    margin-left: 10px;
    color: #333333;
}
.asCommentsContent .asCommmentTime {
    width: 55px;
    height: 9px;
    font-size: 12px;
    margin-right: 18px;
    margin-top: 18px;
    color: #999999;
}
.asCommentInteract span {
    cursor: pointer;
    font-size: 12px;
    color: #20AB9F;
    margin-top: 18px;
}
.asCommentInteract img {
    width: 15px;
    height: 14px;
    margin-top: 18px;
    margin-left: 22px;
    cursor: pointer;
}
.commentTocomment {
    margin-left: 47px;
    margin-top: 16px;
    width: 795px;
    min-height: 90px;
    border-top: 1px solid #F7F7F7;
}
.commentTocomment div {
    height: 45px;
}
.commentTocomment div img {
    width: 25px;
    height: 25px;
}
.commentTocomment .asCommentInteract img {
    width: 15px;
    height: 14px;
}
.asmainComments .clickComment {
    width: 697px;
    height: 30px;
    margin-bottom: 16px;
    margin-left: 30px;
}
.clickComment input {
    width: 580px;
    height: 30px;
    background: #F7F7F7;
    border: 1px solid #E7E7E7;
    border-radius: 15px;
    margin-left: 4px;
    outline: none;
    padding-left: 20px;
}
.clickComment button {
    width: 75px;
    height: 30px;
    background: #81CBBF;
    border-radius: 15px;
    border: 0;
    font-size: 12px;
    color: #FFFFFF;
    margin-left: 11px;
    cursor: pointer;
    outline: none;
}
.addComment {
    margin-left: 47px;
    margin-top: 16px;
    width: 795px;
    min-height: 45px;
    border-top: 1px solid #F7F7F7;
}

/* ---------------------------------------articleShow_back-------------------------- */
.articleShow_back {
    cursor: pointer;
    position: fixed;
    width: 43px;
    height: 43px;
    right: 77px;
    top: 620px;
    background: url(../img/articleShowIcon/asTop1.png) no-repeat left / 43px;
}
.articleShow_back:hover {
    background: url(../img/articleShowIcon/asTop2.png) no-repeat left / 43px;
}