/* ———————————————————————————— 页面底部 —————————————————————————————— */
.bottomOfPage_Box{
    width: 100%;
    height: 175px;
    background: #81cbbf;
}

.bottomOfPage{
    width: 1200px;
    height: 175px;
    margin: 0 auto;
    position: relative;
    /* border: 1px solid #f00; */
}

/* ———————— 页脚图标 —————————— */
.footIconBackground{
    width: 104px;
    height: 55px;
    position: absolute;
    left: 0;
    top: 23px;
    background: url(../img/pageFooterLogo.png) no-repeat;
    background-size: 104px 55px;
}

.bottomOfPage > p{
    position: absolute;
    left: 0;
    bottom: 70px;
    color: #fff;
    font-size: 15px;
    /* border: 1px solid #0f0; */
}

/* —————————————— 联系我们 —————————————————— */
.bottomAbout_us{
    width: 137px;
    height: 80px;
    position: absolute;
    right: 0;
    bottom: 59px;
    /* border: 1px solid #f00; */
}

.bottomAbout_us > p{
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

/* ————— 图标 ————— */
.bottomAbout_us > ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    /* border: 1px solid #fff; */
}

.bottomAbout_us > ul li{
    width: 37px;
    height: 37px;
    border-radius: 100%;
    background-size: 37px 37px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    /* border: 1px solid #0f0; */
}

.bottomAbout_us > ul li:nth-child(1){
    margin-right: 12px;
    background-image: url(../img/footWeiBo.png);
}

.bottomAbout_us > ul li:nth-child(2){
    margin-right: 12px;
    background-image: url(../img/footWeiXin.png);
}

.bottomAbout_us > ul li:nth-child(3){
    background-image: url(../img/footEmail.png);
}
