.topmargin_Header{
    width: 100%;
    /* height: 240px; */
    margin: 0 auto;
    position: relative;
    z-index: 200;
    background: #f7f7f7;
    /* border: 1px solid #f00; */
}

/* ———————————————————— 页面顶栏 ———————————————————————— */
.topmargin_box{
    width: 100%;
    min-width: 1200px; 
    background: #fff;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
}

.topmarginBoxDisplay{
    display: hide;
}

.topmargin{
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    position: relative;
    /* border: 1px solid #0f0; */
}

/* ———————————— 头像 —————————————— */
.topmargin_head_portrait{
    width: 105px;
    height: 55px;
    position: absolute;
    top: 2px;
    left: -3px;
    background: url(../img/navigationLogo.png) no-repeat;
    background-size: auto 55px;
    cursor: pointer;
    /* border: 1px solid #f00; */
}

/* —————————— 跳转页面的导航Part ———————————— */
.topmargin_target{
    position: absolute;
    /* left: 98px; */
    left: 120px;
    top: 15px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    /* border: 1px solid #f00; */
}

.topmargin_target > li a{
    padding: 5px 11px;
    display: inline-block;
    text-decoration: none;
    color: #343434;
    font-size: 18px;
}

.topmargin_target > li a:hover{color: #81cbbf;}

/* ———————————————————— 搜索Part —————————————————————— */
.topmargin_searchBox{
    position: absolute;
    left: 470px;
    top: 8px;
    padding: 0 25px;
    border-radius: 20px;
    border: 2px solid #e0e0e0;
    background: #f7f7f7;
}

.topmargin_searchOutsideBox{
    width: 320px;
    height: 40px;
    /* padding: 0 25px; */
    font-size: 15px;
    box-sizing: border-box;
    /* border: 1px solid #f00; */
}

.topmargin_searchOutsideBox input{
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    background: #f7f7f7;
    font-size: 15px;
    /* border: 1px solid #00f; */
}

.topmargin_searchOutsideBox input::placeholder{
    color: #c0c0c0;
    font-size: 15px;
}

.topmargin_searchOutsideBox button{
    width: 28px;
    height: 28px;
    position: absolute;
    top: 8px;
    right: 10px;
    border: none;
    outline: none;
    background: url(../img/topmargin_search.png) -1px -2px;
    background-size: 28px;
    cursor: pointer; 
}

/* —————————————— 搜索的下拉列表 ———————————————— */
.topmargin_searchBox > #ComboBox{
    width: 370px;
    position: absolute;
    top: 40px;
    left: -2px;
    box-sizing: content-box;
    /* border: 2px solid #36b3a8; */
    border-radius: 0 0 20px 20px;
    border-top: none;
    background: #f7f7f7;
}
/* 下拉后出现的选项的样式 */
.topmargin_searchBox > #ComboBox a{
    height: 32px;
    line-height: 32px;
    padding: 0 25px;
    display: block;
    color: #666;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    /* border: 1px solid #f00; */
}

.topmargin_searchBox > #ComboBox a:hover{
    color: #36b3a8;
    /* background: #e7e7e7; */
}

/* 下拉后出现的灰色线条 */
.topmargin_searchBox > #ComboBox hr{
    border: .5px solid #CACACA;
    margin: 0 15px 5px;
}

/* 搜索框颜色 */
.searchBoxColor{
    border-color: #36b3a8;
    /* border-radius: 20px 20px 0 0; */
}

/* ———————————————————— 目标墙 —————————————————————— */
.topmargin_wall {
    width: 55px;
    height: 50px;
    position: absolute;
    left: 935px;
    
}
.topmargin_wall a {
    display: inline-block;
    text-decoration: none;
    color: #343434;
    font-size: 18px;
}
.topmargin_wall a:hover {
    color: #81cbbf;
}

/* ———————————————————— 个人中心 —————————————————————— */
.topmargin_personal_center{
    width: 163px;
    height: 50px;
    position: absolute;
    left: 1050px;
    /* border: 1px solid #f00; */
    display: none;
}

.topmargin_personal_center #topmargin_PC{
    width: 105px;
    height: 60px;
    line-height: 60px;
    padding-left: 53px;
    display: inline-block;
    position: absolute;
    background: url(../img/homePage_highSchoolStudent_head.png) no-repeat left;
    background-size: 39px;
    color: #333333;
    font-size: 18px;
    text-decoration: none;
    z-index: 10;
}

.topmargin_personal_center > img{
    width: 14px;
    position: absolute;
    top: 27px;
    left: 134px;
    display: inline-block;
}

/* hover的内容 */
.topmargin_personal_center > ul{
    width: 200px;
    height: 205px;
    margin-top: 45px;
    padding: 10px 0 20px 0; 
    display: none;
    position: absolute;
    top: 15px;
    left: -19px;
    list-style-type: none;
    background: #fff;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgba(204, 204, 204,0.6);
    z-index: 100;
    /* border: 1px solid #0f0; */
}

.topmargin_personal_center > ul li{
    margin: 0 1.5px;
}

.topmargin_personal_center > ul li a{
    width: 185px;
    padding: 7.5px 0;
    margin-left: 2px;
    display: inline-block;
    text-align: center;
    font-size: 17px;
    color: #414141;
    text-decoration: none;
    /* border: 1px solid #f00; */
}
.loginIdentity {
    font-size: 16px;
    color: #333333;
    line-height: 22px;
}
.loginIdentity a div {
    width: 100%;
    height: 30px;
}

.loginIdentity span:nth-child(1),
.loginIdentity span:nth-child(3) {
    float: left;
    margin-left: 21px;
}
.loginIdentity span:nth-child(2),
.loginIdentity span:nth-child(4) {
    float: left;
    font-size: 15px;
    color: #20AB9F;
}
.topmargin_personal_center > ul li:hover{
    background: rgba(193, 193, 193,0.25);
    /* background: #f7f7f7; */
    border-radius: 2px;
    text-shadow: .1px .1px .2px rgba(0,0,0,0.25);
}

.topmargin_personal_center > ul li:nth-child(1){
    margin-top: -10px;
}

.topmargin_personal_center > ul li:nth-child(1):hover {
    background: #fff;
}
/* ———————————— 登录注册 ———————————————— */
.topmarginLogin {
    display: block;
}
.homePage_side{
    position: absolute;
    top: 7px;
    right: 0;
    display: flex;
    list-style-type: none;
}

.homePage_side > li{
    padding: 10px;
}

.homePage_side > li a{
    color: #333;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}

.homePage_side > span{padding: 10px 5px;}